@page "/Auth"
@using Data.Models
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Http.HttpResults
@using Microsoft.AspNetCore.Components.Forms
@using System.Net
@using Microsoft.AspNetCore.Http
@using System.Net.Http
@using Microsoft.Extensions.Caching.Memory

@inject IHttpContextAccessor HttpContextAccessor
@inject IMemoryCache Cache
@inject NavigationManager NavigationManager

<PageTitle>Авторизация</PageTitle>

<html>

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1>Авторизация</h1>
                    </div>
                    <div class="card-body">
                        <form method="post" @onsubmit="Submit" @formname="starship-plain-form">
                            <AntiforgeryToken />
                            <div class="form-group">
                                <label for="Login">Логин:</label>
                                <InputText id="Login" @bind-Value="InputAuth!.Login" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="Password">Пароль:</label>
                                <InputText id="Password" @bind-Value="InputAuth!.Password" class="form-control" type="password" />
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <div class="register_link">
                            <p>
                                Нет аккаунта?
                                <a asp-page="SignUp">Зарегистрироваться</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

@code {
    [SupplyParameterFromForm]
    private Users InputAuth { get; set; }

    static HttpClient Http = new HttpClient();

    protected override void OnInitialized() => InputAuth ??= new();

    private async Task Submit()
    {
       // Http.Timeout = TimeSpan.FromMinutes(30);
        using var response = await Http.PostAsJsonAsync($"https://localhost:7244/api/User/Auth", InputAuth);
        if (response.IsSuccessStatusCode)
        {
            var person = await response.Content.ReadFromJsonAsync<Users>();
            Console.WriteLine($"ID пользователя - {person.Id}");
            // Добавление cookie
            var cookieOptions = new CookieOptions
                {
                    HttpOnly = true, // Установка флага HttpOnly для защиты от кражи cookie через JavaScript
                    Secure = true, // Установка флага Secure для передачи cookie только по защищенному соединению
                    SameSite = SameSiteMode.Strict // Установка политики SameSite для предотвращения атак CSRF
                };
            HttpContextAccessor.HttpContext.Response.Cookies.Append("UserId", person.Id.ToString(), cookieOptions);

            manager.NavigateTo("/");
        }
        else
        {
            await response.Content.ReadAsStringAsync();
        }
    }
}
