@page "/"

@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager manager

<PageTitle>Home</PageTitle>

<body>
    <center>
        @{
            var httpContext = HttpContextAccessor.HttpContext;
            var session = httpContext.Session;
            var sessionId = session.GetString("SampleSession");
            if(sessionId == null)
            {
                manager.NavigateTo("Auth");
            }
            <h1 style="color: #fff">Тип заявки</h1>
            <a class="btn btn-lg btn-primary btn-block" asp-page="Personal">
                <img width="300" height="300" src="~/image/profile.jpg" />
                <p></p>
                <h4>Личная</h4>
            </a>
            <a class="btn btn-lg btn-primary btn-block" asp-page="Groups">
                <img width="300" height="300" src="~/image/team.jpg" />
                <p></p>
                <h4>Групповая</h4>
            </a>
            <p></p>
            <a class="btn btn-lg btn-primary btn-block" asp-page="History" asp-route-id="@sessionId">История заявок</a>
        }
    </center>

</body>
