@page "/Photo/{id:int}"
<h3>Фото посетителя</h3>
@if (Statements.Photo != null)
{
    var imageBase64 = Convert.ToBase64String(Statements.Photo);
    var imageSrc = $"data:image/jpeg;base64,{imageBase64}";
    <img src="@imageSrc" alt="Фото пациента" />
}
else
{
    <h3>Отсутствует фото посетителя</h3>
}
@code {
    [Parameter]
    public int Id { get; set; }
    public Statement Statements = new Statement();
    static HttpClient Http = new HttpClient();

    protected override async Task OnInitializedAsync()
    {
        using var response = await Http.GetAsync($"https://localhost:7244/api/Statement/GetIndivid/{Id}");
        if (response.IsSuccessStatusCode)
        {
            Statements = await response.Content.ReadFromJsonAsync<Statement>();
        }
    }
}
